h1 {
    color:rgb(0, 34, 126);
}

h2 {
    color:darkslategray;
}

.work {
color:rgb(0, 34, 126);
font-size: 20px;
}

.position {
color:darkslateg;
}
    
body {
    background-color: rgb(213, 218, 245);
}